@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&family=Source+Code+Pro&display=swap');

.blogs {
    background-color: #F6F9FC;
    border-radius: 20px;
    font-family: Roboto, sans-serif;
    margin: 50px auto;
    padding: 20px 30px;
    width: 85%;
    color: #333333;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 10%);
}

.blogs h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.blogs p {
    font-size: 18px;
    margin: 0;
}

.code {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

.tag-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin: auto;
}

.table-section {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    margin: 30px auto;
}

.table thead th {
    border-bottom: 1px solid #666666;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.table tbody td {
    border-bottom: 0.1px solid #6373812f;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 30px;
}

.scroll-message {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
}

@media only screen and (max-width: 576px) {
    .blogs {
        width: auto;
        margin: 25px 10px;
    }

    .blogs h3 {
        font-size: 20px;
        margin: 12px 0;
    }

    .blogs p {
        font-size: 16px;
    }

    .code {
        font-size: 16px;
    }

    .tag-list {
        width: auto;
    }

    .table {
        margin: 20px auto;
    }

    .table thead th {
        padding: 4px 0;
        font-size: 16px;
    }

    .table tbody td {
        padding: 10px;
        font-size: 16px;
    }

    .scroll-message {
        visibility: visible;

    }
}

@media only screen and (max-width: 480px) {
    .table {
        width: 526px;
    }

    .tag-list {
        grid-template-columns: 1fr;
        margin: 8px 0;
    }

    .tag-list ul {
        margin: 0;
    }
}