@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap');

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.not-found img {
    width: 65%;
}

.not-found a {
    text-decoration: none;
    padding: 10px 26px;
    background: #1EA7FD;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 45px 0;
}

@media only screen and (max-width: 576px) {
    .not-found {
        margin-top: 35px;
    }

    .not-found img {
        width: 90%;
    }

    .not-found a {
        padding: 4px 20px;
        border-radius: 14px;
        font-size: 14px;
        margin: 26px 0;
    }
}