@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1px;
}

.about .desktop-img {
    display: block;
}

.about .mobile-img {
    display: none;
    width: 240px;
    margin-top: -8px;
}

.about a {
    text-decoration: none;
    padding: 10px 26px;
    background: #1EA7FD;
    border-radius: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 35px 0;
}

@media only screen and (max-width: 576px) {
    .about .desktop-img {
        display: none;
    }

    .about .mobile-img {
        display: block;
    }

    .about a {
        padding: 4px 20px;
        border-radius: 14px;
        font-size: 14px;
    }
}