@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F9FC;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
}

.logo-text {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

.logo-text .colored-text {
    color: #1EA7FD;
}

.logo-text a {
    text-decoration: none;
    color: #333333;
    font-size: 48px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-icon {
    visibility: hidden;
    border: none;
    background-color: transparent;
    padding: 0;
}

@media only screen and (max-width: 576px) {
    .header {
        flex-direction: column;
        align-items: unset;
    }

    .logo-text a {
        font-size: 26px;
    }

    .menu-icon {
        visibility: visible;
    }
}